#contact-details{
    @include structure(column, stretch);
    max-width: min-content;
    align-items: center;
    padding: 1.313rem;
    #contact-icon{
        width: 7.016rem;
        height: auto;
        margin-top: 7.063rem;
        box-shadow: 1px 1px 1px 0px #0000001A; 
    }
    .contact-name{
        margin:0.313rem 0;
        font-family: 'Jua';
    }
    nav{
        text-wrap: nowrap;
        margin-top: 5.063rem;
        margin-bottom: 2.188rem;
        background-color: $nav-color;
        font-family: 'Jua';
        @include text(1rem,400,1.375rem,$nav-text);
        border-radius: 10px;
        a,a:hover{
            padding:0.313rem 1.063rem;
            border-radius: 10px;
        }
        a:hover{
            background-color: $green;
            
        }
    }
    li{
        @include structure(row, space-between);
        img{
            margin-left: 10.188rem;
        }
        div{
            .label{
                @include text(1rem,500,1.375rem,$grey-text);
            }
            .value{
                @include text(1rem,500,1.375rem,black);
            }
        }
    }
    li+li{
        margin-top: 1.25rem;
    }
  
}