$green: #55c875;
$grey: #d9d9d994;
$grey-text: #7c7c7c;
$ltblack: #303030;
$nav-color:#EEEEEE;
$nav-text:#555555;


@mixin structure($direction, $justification) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  flex-grow: 1;
  
}

@mixin text($size, $weight, $Lheight,$color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $Lheight;
  color: $color;
}