* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  font-size: 16px;
  font-family: "Inter";
  display: flex; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; }

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1; }

ul {
  list-style-type: none; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  height: min-content;
  flex-grow: 0; }

.contact-name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: black; }

.job-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #7c7c7c; }

.phone-number {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #7c7c7c; }

.email {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #7c7c7c; }

.top {
  padding-top: 1.875rem;
  padding-bottom: 1.575rem;
  padding-right: 2.667rem;
  border-bottom: 1px solid #d9d9d994;
  padding-left: 2.125rem; }
  .top h1 {
    font-family: 'Jua';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: black; }
  .top nav {
    text-wrap: nowrap;
    display: flex; }
    .top nav button + button {
      margin-left: 1.5rem; }
    .top nav button {
      display: flex;
      align-items: center; }
    .top nav #filter-contacts {
      background-color: #d9d9d994;
      padding: 0.563rem;
      border-radius: 5px;
      border-color: #d9d9d994;
      box-shadow: 2px 2px 2px 0px #00000021; }
    .top nav #add-contact {
      background-color: #55c875;
      padding: 0.563rem;
      border-radius: 5px;
      border: 0;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25rem;
      color: #303030; }
      .top nav #add-contact img {
        margin-right: 0.375rem; }

aside {
  padding: 1.188rem 1.625rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  flex-grow: 0;
  border-right: 1px solid #d9d9d994; }
  aside h2 {
    font-family: "Jua";
    font-size: 2.188rem;
    font-weight: 400;
    line-height: 2.734rem;
    color: black; }
  aside .center {
    margin-top: 1.688rem;
    margin-left: 3.5rem;
    margin-bottom: 4rem;
    margin-right: 3.5rem; }
    aside .center img {
      width: 5.625rem;
      height: auto;
      margin-bottom: 0.5rem; }
    aside .center h3 {
      font-family: "Jua";
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.953rem;
      color: black; }
    aside .center p {
      font-family: "Inter";
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: #7c7c7c; }
  aside li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 0.625rem 0;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.134rem;
    color: #7c7c7c; }

#contact-list {
  padding-left: 1.438rem;
  padding-top: 0.688rem;
  gap: 1.375rem; }
  #contact-list .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-grow: 0;
    align-items: center;
    padding: 0.58rem;
    padding-left: 1.188rem;
    border: 1px solid #d9d9d994;
    border-radius: 10px; }

#contact-details {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  max-width: min-content;
  align-items: center;
  padding: 1.313rem; }
  #contact-details #contact-icon {
    width: 7.016rem;
    height: auto;
    margin-top: 7.063rem;
    box-shadow: 1px 1px 1px 0px #0000001A; }
  #contact-details .contact-name {
    margin: 0.313rem 0;
    font-family: 'Jua'; }
  #contact-details nav {
    text-wrap: nowrap;
    margin-top: 5.063rem;
    margin-bottom: 2.188rem;
    background-color: #EEEEEE;
    font-family: 'Jua';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #555555;
    border-radius: 10px; }
    #contact-details nav a, #contact-details nav a:hover {
      padding: 0.313rem 1.063rem;
      border-radius: 10px; }
    #contact-details nav a:hover {
      background-color: #55c875; }
  #contact-details li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1; }
    #contact-details li img {
      margin-left: 10.188rem; }
    #contact-details li div .label {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.375rem;
      color: #7c7c7c; }
    #contact-details li div .value {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.375rem;
      color: black; }
  #contact-details li + li {
    margin-top: 1.25rem; }

/*# sourceMappingURL=styles.css.map */
