#tasks{
    ul{
        margin-top:1rem;
        @include structure(column, flex-start, stretch);
       
        li{
            @include structure(row, stretch, flex-start);
            text-wrap: nowrap;
            padding: 1rem;
            gap:2rem;
            height: min-content;
            div{
                opacity : 0.7;
                .subtext{
                    opacity: 0.5;
                }
            }
           
        }
        li+ li{
           
            border-top: 1px solid #f5f5f5;

        }
    }

}