body {
  font-size: 16px;
  font-family: "Lama Sans" !important;
  background-image: url("../assets/SVG/slide-img-phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.intro {
  @include structure(column, space-between, center);
  margin: 2.75rem 1.25rem;
  h1 {
    @include text(2.375rem, 600, 3.063rem);
    text-align: center;
    letter-spacing: -0.02em;
    padding: 0.781rem;
  }
  p {
    @include text(1.3rem, 100, 1.875rem);
    text-align: center;
    letter-spacing: -0.02em;
    padding: 0.781rem;
    font-family: "Lama Sans-thin";
  }
  button {
    @include button(black, #fec430, none);
    margin: 1.25rem 0;
  }
  > img {
    margin-left: -14rem;
  }
  > div {
    @include structure(column, center, center);
    margin-top: -9rem;
  }
}
@media screen and (min-width: 75rem) {
  body {
    background-image: url("../assets/SVG/slide-img-desktop.svg");
  }
  .intro {
    margin: 8.25rem 25%;
    padding-top: 3.625rem;
    h1 {
      @include text(3.5rem, 600, 4.5rem);
      margin: 0;
      padding: 0;
    }
    p {
      @include text(1.5rem, 500, 2.5rem);
    }
  }
}
