.services {
  text-align: center;
  margin: 0 1.25rem;

  > img {
    margin-bottom: -7rem;
    height: 6.938rem;
    margin-left: -12rem;
  }
  .services-cards {
    border-radius: 25px;
    @include structure(column, space-between, center);
    padding: 4rem 3rem;
    gap: 2.5rem;
    margin-bottom: 4.75rem;

    .services-card {
      @include structure(column, center, center);
      gap: 1.25rem;
      h5 {
        @include text(1.25rem, 900, 1.25rem);
      }
      p {
        @include text(1rem, 400, 1.75rem);
        font-family: Lama Sans-thin;
      }
    }
  }
  @media screen and (min-width: 75rem) {
    margin: 0 3.75rem;
    .services-cards {
      @include structure(row-reverse, space-between, center);
    }
    
  }
}
