aside {
    padding:1.188rem 1.625rem;
    @include structure(column, stretch);
    flex-grow: 0;
    border-right: 1px solid $grey;
    h2{
        font-family: "Jua";
        @include text(2.188rem, 400, 2.734rem,black);
    }
    .center{
        margin-top: 1.688rem;
        margin-left:3.5rem;
        margin-bottom: 4rem;
        margin-right: 3.5rem;
        img{
            width: 5.625rem;
            height: auto;
            margin-bottom: 0.5rem;
        }
        h3{
            font-family: "Jua";
            @include text(1.5rem, 400, 1.953rem,black);
            
        }
        p{
            font-family: "Inter";
            @include text(1rem, 500, 1.5rem,$grey-text);
        }
    }
    li{
        @include structure(row, flex-start);
        gap:0.5rem;
        padding: 0.625rem 0;
        @include text(0.938rem, 500, 1.134rem,$grey-text);

    }
}